<h2><%= I18n.translate("register")%> <%= ProductModel.model_name.human %></h2>

<% if @product_model.errors.any? %>
  <p><%= I18n.t('verify_erros_form')%>: </p>
  <ul>
    <% @product_model.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
    <%end %>
  </ul>
<% end %>

<%= render 'form' %>