<h1>Modelo de Produto: <%= @product_model.name %> </h1>
<div>
  <strong>Fornecedor: </strong><%= @product_model.supplier.brand_name%>
  <strong>SKU: </strong><%= @product_model.sku %>
  <strong>Dimensões: </strong><%= "#{@product_model.width}cm x #{@product_model.height}cm x #{@product_model.depth}cm" %>
  <strong>Peso: </strong><%= "#{@product_model.weight}g" %>
</div>


<p><%= link_to 'Editar', edit_product_model_path(id: @product_model.id) %></p>
<p><%= link_to "Voltar para Modelos de Produtos", product_models_path %></p>
<p><%= link_to "Voltar para página principal", root_path %></p>
<p><%= button_to "Remover", product_model_path(id: @product_model.id), method: :delete %></p>