<section id="warehouses">
  <h2><%= I18n.translate("warehouses") %></h2>
  <p>
    <%= I18n.localize(Date.today) %>
  </p>
  <div>
    <%= link_to("#{I18n.translate("register")} #{Warehouse.model_name.human}", new_warehouse_path)%>
  </div>
  <% @warehouses.each do |w| %>
    <div>
      <h3><%= link_to(w.name, warehouse_path(id: w.id)) %></h3>
      <dl>
        <dt><%= Warehouse.human_attribute_name(:code)%>:</dt>
        <dd><%= w.code %></dd>
        <dt><%= Warehouse.human_attribute_name(:city)%>:</dt>
        <dd><%= w.city %></dt>
        <dt><%= Warehouse.human_attribute_name(:area)%>:</dt>
        <dd><%= "#{w.area} m²" %></dd>
      </dl>
    </div>
  <%end%>


  <% if @warehouses.empty? %>
    <p><%= I18n.translate("no_warehouse_on_db")%></p>
  <%end%>
</section>