<h2><%= I18n.translate("Register")%> <%=Order.model_name.human %></h2>

<% if @order.errors.any? %>
  <p><%= I18n.t('verify_erros_form')%>: </p>
  <ul>
    <% @order.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
    <%end %>
  </ul>
<% end %>

<%= render 'form' %>