<h2>Resultado da Busca por: <%= @code %></h2>

<% if @order.present? %>
  <p>1 pedido encontrado</p>
  <dl>
    <dt><%= Order.human_attribute_name(:code)%>:</dt>
    <dd><%= @order.code %></dd>
    <dt><%= Order.human_attribute_name(:warehouse_id)%>:</dt>
    <dd><%= @order.warehouse.full_description %></dd>
    <dt><%= Order.human_attribute_name(:supplier_id)%>:</dt>
    <dd><%= @order.supplier.full_description%></dd>
  </dl>
<%end%>