<h1> <%= Order.model_name.human %> <%= @order.code %></h1>
<dl>
  <dt><%= Order.human_attribute_name(:warehouse_id)%>: </dt>
  <dd><%= @order.warehouse.full_description %></dd>
  <dt><%= Order.human_attribute_name(:supplier) %>: </dt>
  <dd><%= @order.supplier.full_description %></dd>
  <dt><%= Order.human_attribute_name(:user) %>: </dt>
  <dd><%= @order.user.description %></dd>
  <dt><%= Order.human_attribute_name(:estimated_delivery_date) %>: </dt>
  <dd><%= I18n.localize(@order.estimated_delivery_date) %></dd>
  <dt><%= Order.human_attribute_name(:status)%>:</dt>
  <dd><%= I18n.t(@order.status) %></dd>
</dl>
<h2> <%= OrderItem.model_name.human %> </h2>
  <% @order.order_items.each do |item| %>
    <%= OrderItem.human_attribute_name(:quantity)%>: <%= item.quantity%> x <%= item.product_model.name %>
  <%end%>
<div>
  <% if @order.pending? %>
    <p><%= button_to t(:set_delivered), delivered_order_path(id: @order.id), method: :post %>
    <p><%= button_to t(:set_canceled), canceled_order_path(id: @order.id), method: :post %>
  <%end%>
  <p><%= link_to I18n.t('edit'), edit_order_path(id: @order.id) %></p>
  <p><%= link_to I18n.t('back_order_index'), orders_path %></p>
  <p><%= link_to I18n.t('back_root'), root_path %></p>
</div>