<h1>Fornecedor <%= @supplier.corporate_name %> </h1>
<div>
  <strong>Nome Fantasia: </strong><%= @supplier.brand_name%>
  <strong>CNPJ: </strong><%= @supplier.registration_number %>
  <strong>Endereço: </strong><%= @supplier.full_address %>
  <strong>Cidade: </strong><%= @supplier.city %>
  <strong>Estado: </strong><%= @supplier.state %>
  <strong>Email: </strong><%= @supplier.email %>
</div>


<p><%= link_to 'Editar', edit_supplier_path(id: @supplier.id) %></p>
<p><%= link_to "Voltar para fornecedores", suppliers_path %></p>
<p><%= link_to "Voltar para página principal", root_path %></p>
<p><%= button_to "Remover", supplier_path(id: @supplier.id), method: :delete %></p>