<h1><%= I18n.t('register')%> <%= Warehouse.model_name.human %></h1>

<% if @warehouse.errors.any? %>
  <p><%= I18n.t('verify_errors_form')%>: </p>
  <ul>
    <% @warehouse.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
    <%end %>
  </ul>
<% end %>

<%= render 'form' %>