<h1>Galpão <%= @warehouse.code %> </h1>
<div>
  <strong>Nome: </strong><%= @warehouse.name%>
  <strong>Cidade: </strong><%= @warehouse.city %>
  <strong>Área: </strong><%= "#{@warehouse.area} m²" %>
  <strong>Endereço: </strong><%= "#{@warehouse.address} CEP: #{@warehouse.cep}" %>
  <strong>Descrição: </strong><%= @warehouse.description %>
</div>