<!DOCTYPE html>
<html>
  <head>
    <title>WarehouseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1>Galpões & Estoque</h1>
      <nav>
        <%= link_to 'Fornecedores', suppliers_path %>
        <%= link_to 'Modelos de produtos', product_models_path %>
        <% if user_signed_in? %>
          Olá <%=current_user.name %>
          <%= current_user.email %>
          <%= button_to 'Sair', destroy_user_session_path, method: :delete %>
        <% else %> 
          <%= link_to 'Entrar', new_user_session_path %>
        <%end%>
      </nav>
    </header>
    <div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p> 
    </div>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
