<!DOCTYPE html>
<html>
  <head>
    <title>WarehouseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= link_to root_path do %>
        <h1><%= I18n.t('app_title')%></h1>
      <%end%>
      <nav>
        <%= link_to I18n.t('suppliers'), suppliers_path %> |
        <%= link_to I18n.t('product_models'), product_models_path %> |
        <%= link_to "#{I18n.t('register')} #{Order.model_name.human}", new_order_path %> |
        <%= link_to t('my_orders'), orders_path %> |
        <% if user_signed_in? %>
          <%= form_with(url: search_orders_path, method: :get) do |f| %>
            <%= f.label :query, "Buscar Pedido" %>
            <%= f.text_field :query %>
            <%= f.submit "Buscar" %>
          <%end%>
          <%= "#{I18n.t('hello')} #{current_user.description}" %>
          <%= button_to I18n.t('logoff'), destroy_user_session_path, method: :delete %>
        <% else %> 
          <%= link_to 'Entrar', new_user_session_path %>
        <%end%>
      </nav>
    </header>
    <div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p> 
    </div>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
